@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

* {
    --cinza : rgba(0, 0, 0, 0.637);
    --fontpadrao : 'Roboto', sans-serif;
}

body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    font-family: var(--fontpadrao);
  }
  
h1#tit{
    text-align: center;
    padding-top: 10vh;
    color: var(--cinza);
}


p{
  text-align: center;
  animation: fadeInAnimation ease 8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  color: var(--cinza);
}

main#corpo{
    background-color: white;
    height: 100vh;
}

span#react{
    color: aqua;
}

h1#tit2{
    padding-left: 6%;
    padding-top: 7%;
    color: var(--cinza);
    font-size: 2.3em;
    animation: fadeInAnimation ease 12s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

.video{
    position: relative; 
    padding-bottom: 280px; 
    max-width: 600;
    max-height: 100%;
    margin-left: 50px;
    margin-top: 20px;
    padding: 4%;
    overflow: hidden;
    
}

iframe {
    height: 100%;
    width: 100%;
    background-image: url(imagens/texto.jpg);
    
}

iframe:hover{
        -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
        transform: scale(1.4);
        transition: 0.4s;
}

.vid{
    display: flex;

}

