@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

* {
    --cinza : rgba(0, 0, 0, 0.637);
    --fontpadrao : 'Roboto', sans-serif;
}

body {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    font-family: var(--fontpadrao);
  }
  
h1#tit{
    text-align: center;
    color: var(--cinza);
}


p{
  text-align: justify;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  color: var(--cinza);
  padding-left: 4%;
  padding-right: 4%;

}

p#conhece{
  text-align: center;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  color: var(--cinza);
  padding: 0%;
  padding-top: 1%;
}

span#react{
    color: aqua;
}

h1#tit2{
    padding-left: 4%;
    padding-top: 2%;
    color: var(--cinza);
    font-size: 2.1em;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

.video{
    position: relative; 
    max-height: 110%;
    margin-left: 20px;
    margin-top: 20px;
    padding: 4%;
    padding-bottom: 2%;
    overflow: hidden;
    
}

iframe {
    height: 100%;
    width: 90%;
    background-image: url(imagens/texto.jpg);
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
}

iframe:hover{
        -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
        transform: scale(1.4);
        transition: 0.4s;
}

.vid{
    display: flex;

}

h2{
  padding-left: 4%;
  padding-top: 2%;
  color: var(--cinza);
  font-size: 2.1em;
  animation: fadeInAnimation ease-out 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

}

p > a {
  text-decoration: none;
  color: rgb(9, 199, 224);
}


nav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: var(--fontpadrao);
  font-weight: 500;
  padding-top: 10px;
  color: var(--cinza);
}

nav > a {
  text-decoration: none;
  padding: 10px 40px;
  color: var(--cinza);
}

a:active{
  color: var(--cinza);
}

a:hover{
  background-color: rgba(38, 108, 126, 0.452);
}

.img{
  padding-left: 2%;
}

h2 > a {
  text-decoration: none;
  padding: 10px 40px;
}

.contato{
  padding: 4px;
  margin-left: 6%;
  margin-top: 2%;
  font-size: 1.6em;
}

main#contato{
  padding-top: 5%;
}
